/*-- 
	File	: css/login.css
	Author	: Abhishek Nath
	Date	: 01-Jan-2015
	Desc	: style sheet for login related components.
--*/

/*-- 
	01-Jan-15   V1-01-00   abhishek   $$1   Created.
	17-Jul-15   V1-01-00   abhishek   $$2   File header comment added.
--*/


.login-main {
    width: 975px;
    height: 600px;
    border: 1px solid #e5e5e5;
}

.login {
	margin: 0;
	float: left;
	width: 50%; 
	border-right: 1px solid #d4d4d4; 
	height: 600px;
}

.login-main * {
	font-size: 15px;
	font-weight: normal;
}

.login h3 {
    font-weight:normal;
    font-size:40px;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

#signup-nav {
	float:right;
	width: 48%;
}

#signup-nav-sub {
	margin-top: 55px;
	margin-left: 55px;
}

#signup-nav-sub * {
	margin: 0;
	padding: 0;
}

#signup-nav-sub h3 {
	font-weight:normal;
    font-size:20px;
    line-height: normal;
    margin: 0;
}

#login-sub {
    margin-top: 5px;
    margin-left: 90px;
}

.login-form input {
	width: 300px;
}

.login-main a:link, .login-main a:visited {color:#2020c0;text-decoration:none;}
.login-main a:hover, .login-main a:active {color:#ff4800;text-decoration:none;}
