/*-- 
	File	: css/result.css
	Author	: Abhishek Nath
	Date	: 01-Jan-2015
	Desc	: style sheet for result.php file.
--*/

/*-- 
	01-Jan-15   V1-01-00   abhishek   $$1   Created.
	17-Jul-15   V1-01-00   abhishek   $$2   File header comment added.
--*/

.result-main {
    width:450px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    padding: 25px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
}
