.signup-main {
    width:975px;
    border: 1px solid #e5e5e5;
}

.signup-main h1 {
    margin-top: 25px;
    margin-left: 25px;
}

.signup-main hr {
    margin: 0px;
    margin-right: 25px;
    margin-left: 25px;
}

.signup-main * {
	font-size: 15px;
	font-weight: normal;
}

.signup h3 {
	margin-left: 85px;
	font-weight:normal;
    font-size:40px;
    line-height: normal;
    padding: 0;
    margin-top: 0;
    margin-bottom: 25px;
}

.createaccount-form {
	padding: 0;
    margin: 0;
    margin-left: 85px;
}

.createaccount-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

#login-nav-sub {
	margin-top: 55px;
	margin-left: 45px;
}

#login-nav-sub * {
	margin: 0;
	padding: 0;
}

#login-nav-sub h3 {
	font-weight:normal;
    font-size:20px;
    line-height: normal;
    margin: 0;
}

#login-nav a:link,#login-nav a:visited {color:#2020c0;text-decoration:none;}
#login-nav a:hover,#login-nav a:active {color:#ff4800;text-decoration:none;}
